box#box_main {
    margin: 10px;
}
frame.ui-frames {
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
}
frame.ui-frames > label {
    margin-bottom: 10px;
}
gridview {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}
.overlay-button {
    border-radius: 0; /* Remove rounded corners */
    border-width: 0;
    opacity: 0.7;     /* Set 50% opacity */
}